* {
    margin: 0;
    padding: 0;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.tangerine-bold,
h1 {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
}

.container {
    padding: 0 calc((100% - 1440px) / 2);
}

.d_f {
    display: flex;
}

.a-i_c {
    align-items: center;
}

.j-c_s-b {
    justify-content: space-between;
}

.f-d_c {
    flex-direction: column;
}

.a-i_f-s {
    align-items: flex-start;
}

.f-w_w {
    flex-wrap: wrap;
}

.j-c_c {
    justify-content: center;
}

.background {
    background-repeat: no-repeat;
    background-size: contain;
}

header,
footer {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-logo {
    margin-top: 24px;
    margin-left: 74px;
}

.header-logo,
.header-logo img {
    height: 23px;
}

.header-links__logo-text {
    font-size: 12px;
}

.header-links__block-links {
    gap: 43px;
}

header a {
    color: #7E7E7E;
    font-size: 16px;
}

.header-adaptive {
    display: none;
}

a {
    text-decoration: none;
}

.a-active {
    font-weight: 700;
    color: black;
}

button {
    padding: 8px 24px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    background-color: #313131;
    border: none;
    color: white;
    border-radius: 4px;
}

button:hover {
    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.5);
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-blue {
    background-color: #33A0FF;
}

.breadcrumbs {
    background-color: #F6F7F8;
    padding: 15px 0;
    margin-top: 120px;
}

.breadcrumbs a {
    color: #33A0FF;
}


footer {
    background-color: #050706;
    padding: 55px 0 25px;
    color: white;
}

footer a {
    color: white;
}

.footer-top {
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

.footer-top__column-links {
    gap: 20px;
    font-size: 18px;
}

.footer-top__column-contact {
    gap: 23px;
}

.footer-top__column-contact p:first-of-type {
    font-size: 24px;
}

.footer-top__column-contact p:last-of-type {
    line-height: 32px;
}

.footer-top iframe {
    border-radius: 10px;
}

.footer-bottom {
    margin-top: 110px;
    text-align: center;
    gap: 25px;
}

.footer-bottom__media-links {
    gap: 20px;
}

.footer-adaptive {
    display: none;
}

@media(max-width: 1920px) {
    .container {
        padding: 0 12.5%;
    }
}

@media(max-width: 850px) {

    .header-logo,
    .header-links {
        display: none;
    }

    .footer-top,
    .footer-bottom {
        display: none;
    }

    footer {
        background-color: white;
        padding: 0 0 8px;
        position: sticky;
        bottom: 0;
        background-color: white;
        z-index: 100;
    }

    button {
        padding: 5px 10px;
    }

    header {
        border-bottom: 1px solid #EBF0FF;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
    }

    .header-adaptive {
        display: flex;
        gap: 16px;
        padding: 16px 0;
        height: 46px;
    }

    .header-adaptive__head-title-and-back {
        color: #223263;
    }

    .header-adaptive__search-product form {
        width: 229px;
        height: 20px;
        border: 1px solid #EBF0FF;
        border-radius: 5px;
        gap: 8px;
        padding: 12px 16px;
    }

    .header-adaptive__search-product form input {
        outline: none;
        border: none;
    }

    .header-adaptive__search-product form button {
        background: none;
        padding: 0;
    }

    .header-adaptive__favourites {
        margin-left: auto;
    }

    .container {
        padding: 0 calc((100% - 375px) / 2);
    }

    .footer-adaptive {
        display: flex;
        padding: 0 calc((100% - 375px) / 2);
        border-top: 1px solid #EBF0FF;
    }

    .footer-adaptive a {
        width: 75px;
        height: 59px;
        justify-content: flex-end;
        position: relative;
    }

    .footer-adaptive a>p {
        color: #9098B1;
        line-height: 150%;
    }

    .footer-adaptive a>.active {
        color: #40BFFF;
        font-weight: 700;
    }

    .footer-adaptive__cart-counter {
        position: absolute;
        background-image: url('/img/adaptive/cart-counter.svg');
        top: 4px;
        right: 18px;
        font-size: 10px;
        width: 20px;
        height: 20px;
        color: white;
        background-size: contain;
    }
    .breadcrumbs {
        display: none;
    }
}