main {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.holidays-cakes {
    margin: 50px 15% 65px;
    padding: 25px 60px;
    background-color: #40BFFF;
    color: white;
    gap: 10px;
}

.holidays-cakes__block-text h2 {
    max-width: 480px;
    font-size: 30px;
    font-weight: 500;
    margin: 35px 0 30px;
}

.holidays-cakes__block-text p {
    font-size: 14px;
    margin-bottom: 50px;
}

.holidays-cakes__block-text a {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.holidays-cakes__block-text__separator {
    border-top: 3px solid white;
    width: 57px;
    margin-top: 5px;
}


@media(max-width: 900px) {
    .holidays-cakes {
        flex-direction: column;
        gap: 50px;
        padding: 25px 30px;
    }
    .holidays-cakes__block-text h2{
        margin: 0 0 20px;
        line-height: 32px;
    }

    .header-adaptive__search-product,
    .header-adaptive__favourites,
    .header-adaptive__notifications{
        display: none;
    }
}