main {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.breadcrumbs {
    background-color: #F6F7F8;
    padding: 15px 0;
    margin-top: 120px;
}

.breadcrumbs a {
    color: #33A0FF;
}

.holidays-cakes {
    margin: 50px 15% 65px;
    padding: 25px 60px;
    background-color: #40BFFF;
    color: white;
    gap: 10px;
}

.holidays-cakes__block-text h2 {
    max-width: 480px;
    font-size: 30px;
    font-weight: 500;
    margin: 35px 0 30px;
}

.holidays-cakes__block-text p {
    font-size: 14px;
    margin-bottom: 50px;
}

.holidays-cakes__block-text a {
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.holidays-cakes__block-text__separator {
    border-top: 3px solid white;
    width: 57px;
    margin-top: 5px;
}

.product-cards {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(385px, 1fr));;
    margin: 0 6% 65px;
    justify-items: center;
    gap: 30px;

}

.product-cards__card {
    border: 3px solid #F6F7F8;
    border-radius: 5px;
    gap: 15px;
    position: relative;
    width: 385px;
}

.product-cards__card__hot {
    position: absolute;
    top: 5px;
    background-color: #FF4858;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    align-self: flex-start;
}
.product-cards__card > img{
    width: 100%;
    height: 276px;
    object-fit: cover;
    border-radius: 5px;
}

.product-cards__card__info {
    color: #223263;
    padding: 0 50px 10px;
    gap: 5px;
    letter-spacing: 0.5px;
}

.product-cards__card__info img {
    align-self: center;
}

.product-cards__card__info-price>p {
    font-size: 20px;
    color: #40BFFF;
}
.product-cards__card__info-price__sail{
    gap: 8px;
    font-size: 14px;
    color: #FB7181;
}

.product-cards__card__info-price__sail p:first-of-type{
    color: #9098B1;
    text-decoration: line-through;
}

.product-cards__page-number{
    height: 75px;
    background-color: #FAFAFB;
    margin-bottom: 300px;
}
.product-cards__page-number__item{
    width: 95px;
    color: #22262A;
    transition: border-top 0.3s ease;
}
.product-cards__page-number >.item-active{
    color: white;
    background-color: #40BFFF;
}

.product-cards__page-number__item:hover{
    border-top: 5px solid #40BFFF;
}

@media(max-width: 900px){
    .holidays-cakes {
        flex-direction: column;
        gap: 50px;
    }
}